
<div class="container">

  <div class="snapshot"  [ngClass] = "{'red': snapShot.background == 1,'green': snapShot.background == 2, 'yellow': snapShot.background == 3, 'open-snap': snapShot.open==true}" >
    <div class="task">
        <div class="task-info-snap-shot " [ngClass]="{'line-through': snapShot.progress.finished == true}"  >
          <p class="task-label">current</p>
          <div class="task-title">
            <p>{{snapShot.name  | shortString: 15}}</p>
            <div class="task-title-line"></div>
            <span class="task-info-button"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
          </div>
        </div>
        <ul id='time'>
          <li id='hour'><span>{{hour}} </span></li>
          <li id='min' ><span>{{minute}}</span></li>
          <li id='second'><span>{{second}}</span></li>
        </ul>
         <!--<div *ngIf="snapShot.progress.started==true"class="progress-1">
           [ngClass] = "{'red': snapShot.background == 1,'green': snapShot.background == 2, 'yellow': snapShot.background == 3, 'open-snap': snapShot.open==true}"
       -->
         <div class="progress-1">
           <div class="progress-1-bar" *ngIf="snapShot.progress.started==true" [ngStyle]="{'animation':'progress '+ distance+'s ease-in-out'}" >
             <div class="progress-1-shadow" [ngStyle]="{'animation':'progress '+ distance+'s'}" ></div>
           </div>
         </div>
         <div class="task-options">
             <span class="task-options-remaining">{{snapShot.remaining}}</span>
             <a routerLink="/add" class="task-options-add-button"><i class="fa fa-plus"  aria-hidden="true"></i></a>
         </div>
    </div>
  </div>

  <ul  id="timeline" [ngClass]="{'close-timeline':snapShot.open==true }">
    <li *ngFor="let task of tasks; let i=index" (click)="showSnap(i)"  class="timeline-tab">
      <div class="time">{{task.start | date: 'shortTime'}} - <br> {{task.end | date: 'shortTime'}}</div>
      <div class="category" [ngClass] = "{'category-red': task.category == 1,'category-green': task.category == 2, 'category-yellow': task.category == 3}"></div>
      <div [ngClass]="{'line-through': task.finished == true}" class="timeline-tab-info">
        <p class="task-name">{{task.name | shortString: 15}}</p>
      </div>
    </li>
  </ul>

</div>
