<div class="container">
<div class="snapshot" [ngClass] = "{'red': snapShot_background == 1,'green': snapShot_background == 2, 'yellow': snapShot_background == 3}">
<div class="task">
    <span class="category"></span>
  <div class="task-options">
    <!--<div class="task-options-delete"><i class="fa fa-trash-o" aria-hidden="true"></i>
    </div>-->
    <!-- ***************TO DO:move addTask function to a different page and use forms***********-->
      <div class="task-options-edit"><i  class="fa fa-info-circle" aria-hidden="true"></i></div>
  <a routerLink="/add" class="task-add-button"><i class="fa fa-plus"  aria-hidden="true"></i></a>

    <!--<div class="task-options-complete"> <i class="fa fa-check" aria-hidden="true"></i></div>-->
    </div>
    <ul id='time'>
      <li id='hour'><span>{{hour}} </span></li>
      <li id='min' ><span>{{minute}}</span></li>
      <li id='second'><span>{{second}}</span></li>
    </ul>

    <div class="task-info" >
      <p class="task-title">{{snapShot_name}}</p>
    </div>
   <i class="open fa fa-chevron-down" aria-hidden="true"></i>
</div>

</div>

<ul  id="timeline">
  <li *ngFor="let task of tasks; let i=index" (click)="showSnap(i)"  class="timeline-tab">
    <div class="time">{{task.start | date: 'shortTime'}} - <br> {{task.end | date: 'shortTime'}}</div>
    <div class="category" [ngClass] = "{'category-red': task.category == 1,'category-green': task.category == 2, 'category-yellow': task.category == 3}"></div>
    <div [ngClass]="{'line-through': task.finished == true}" class="timeline-tab-info">
      <p class="task-name">{{task.name | shortString: 10}}</p>
      <br>
      <p class="task-discription">{{task.discription}}</p>
    </div>

  </li>


</ul>



</div>
