<div class="container">
<div class="add-form">
  <a routerLink="/" ><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
  <form [formGroup]="addTaskForm">
      <h4 class="title">What are we doing?</h4>
  <div class="form-group">
    <input type="text" formControlName="title"   name="title" class="form-control" id="newTask" placeholder="Title">
  </div>
  <div class="form-group">
    <textarea id="discription" formControlName="discription"   name="discription" class="form-control" name="name" rows="3" cols="80" placeholder="Describe it!"></textarea>
  </div>
  <div class="form-group">
        <h4 class="title" >How important is it?

          <button class="task-info" type="button"
          tooltip="Tap a color to pick the catogery of importance. Red being the most important , then green, then yellow."
          triggers="focus">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </button>
      </h4>

    <ul class="categorys">

      <li>
         <input type="radio" formControlName="category"  id="category-1" name="category" value="1">
         <label for="category-1" class="category category-red" ></label>
      </li>
      <li>
         <input type="radio" formControlName="category"   id="category-2" value="2" name="category">
         <label for="category-2"  class="category category-green"></label>
      </li>
      <li>
         <input type="radio" formControlName="category"  id="category-3" value="3" name="category">
         <label for="category-3"  class="category category-yellow"></label>
          </li>
    </ul>
  </div>
  <div class="time" formGroupName="time">
    <timepicker  formControlName="start"[minuteStep]="1" name="timePicker"></timepicker>
    <timepicker formControlName="end"  [minuteStep]="1" name="timePicker"></timepicker>
   <button routerLink="/"  type="submit" class="btn btn-default" (click)="addTime()">Submit</button>
  </div>


</form>

</div>

</div>
